@import "tailwindcss";

:root { 
  --background: #ffffff;
  --foreground: #171717;
} 

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f09936;
    --foreground: #ededed;
  }
} 

body {
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
  /* background-image: url('/2r-bg.png'); */
  /* background-size: cover;       */
  /* background-repeat: no-repeat;  */
  /* background-position: center;   */
  /* background-attachment: fixed;  */
  /* background-size: cover; */
  /* font-family: Arial, Helvetica, sans-serif; */
    width: full;
    height: full;

}
/*  */